/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: hsl(190, 53%, 39%);
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Playfair Display', sans-serif;
    color: hsl(0, 0%, 100%);
}

/* Header */
header {
    width: 100%;
    padding: 0.25rem;
    z-index: 99;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

img {
    width: 100px
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(190, 71%, 25%);
}

.logo h1 {
    text-decoration: none;
    padding: 0 0.5px;
    text-transform: uppercase;
    font-size: 40px;
}

main {
    width: 100%;
    padding: 0.25rem;
}

.intropage,
.rulespage {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 100%);
    margin: auto;
    width: 90%;
}

ol {
    list-style-type: none;
  }

#options-btn,
#initiate-game-btn {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: hsl(190, 71%, 25%);
    color: hsl(0, 0%, 100%);
    border-radius: 6px;
    margin: 15px;
}

#options-btn:hover {
    background-color: hsl(190, 53%, 39%);
    cursor: pointer;
}

#initiate-game-btn:hover {
    background-color: hsl(190, 53%, 39%);
    cursor: pointer;
}

.hidden,
.page {
    display: none;
}


.page.active {
    display: block;
}

.game-area {
    text-align: center;
}

.game-grid-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 80%;
    margin: auto;
    justify-content: center;
    padding: 15px;
}

.cell-block {
    width: 120px;
    height: 120px;
    border: 3px solid hsl(0, 0%, 100%);
    /* box-shadow: 0 0 0 3px; */
    line-height: 110px;
    font-size: 100px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
}

.results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    border: 2px solid hsl(0, 0%, 100%);
    background-color: hsl(190, 71%, 25%);
    padding: 10px;
    margin-bottom: 10px;
}

.results {
    padding: 10px;
}


#restart-game-btn,
#next-round-btn {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: hsl(190, 71%, 25%);
    color: hsl(0, 0%, 100%);
    border-radius: 6px;
}

#restart-game-btn:hover,
#next-round-btn:hover {
    background-color: hsl(190, 53%, 39%);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(190, 71%, 25%);
    height: 110.27px;
    margin: 5px;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    cursor: pointer;
    font-size: 17px;
}